@import "../../vars.css";
.Navbar {
  width: calc(100% - 10%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  height: 50px;
  background-color: var(--color-pink);
  border-bottom: 3px var(--color-brown) solid;
  position: sticky;
  top: 0px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
}
.leftNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  img {
    width: 35px;
  }
}
.search {
  display: flex;
  align-items: center;
  input {
    width: auto;
    padding: 6px 30px 6px 10px;
    border-radius: 30px;
    color: var(--color-dark);
    font-size: 14px;
    position: relative;
  }
  input::placeholder {
    margin-right: 20px;
  }
  input:focus {
    outline: none;
  }
  i {
    position: relative;
    top: 0px;
    right: 25px;
  }
}
.rightNav {
  i {
    padding-right: 3px;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 35px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 14px;
    font-weight: 500;
  }
  a:hover {
    color: var(--color-brown);
  }
}
.s2 {
  display: none;
}
@media screen and (max-width: 830px) {
  .s1 {
    display: none;
  }
  .s2 {
    display: inline-block;
    margin-left: 10px;
    i {
      font-size: 10px;
      padding: 7px 8px 5px 8px;
    }
  }
  .Navbar {
    justify-content: space-between;
    gap: 3px;
  }
  .leftNav {
    img {
      width: 30px;
    }
  }
  .rightNav {
    img {
      width: 30px;
    }
    i {
      font-size: 14px;
    }
    a {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 600px) {
  .Navbar {
    width: 173vw;
  }
}
@media screen and (max-width: 350px) {
  .Navbar {
    width: 225vw;
  }
}
